# python sheet

# variables

In [1]:
# var 


#nom de la variable : var1, type : integer
var1 = 123
#nom de la variable : var2, type : float
var2 = 12.6
#nom de la variable : var3, type : booléen
var3 = True
#nom de la variable : var4, type : string
var4 = 'HELLO WORD'
#nom de la variable : var5, type : dictionnaire
var5 = {}
#nom de la variable : var6, type : liste
var6 = ['bordeaux','lyon','paris','bordeaux']
#nom de la variable : var7, type : tuple
var7 = (True,'paris',167)
#nom de la variable : var8, type : set
var8 = {10,15,30}


#modifier un type (str(),int(),bool(),list(),dict(),set(),tuple())

ma_str_var = str(var1)
print(type(var1),type(ma_str_var))

<class 'int'> <class 'str'>

# liste

In [2]:
# liste
ma_liste = []
ma_liste.append("ALEX")
ma_liste.append("ALEX")
ma_liste.append("ALEX")

print(ma_liste)
ma_liste[0]= "caps"
print(ma_liste)

['ALEX', 'ALEX', 'ALEX']
['caps', 'ALEX', 'ALEX']

# tupple

In [3]:
#tupple
mon_tupple = ()
mon_tupple
mon_new_tupple = (1,3,3,7,9)
# tupple ne ce modifie pas 
mon_new_tupple[3]

7

# set

In [4]:
ma_liste =["osx","fedora","kali","parrot","osx"]
mon_set = set(ma_liste)
# un set ne comporte pas de doublon
mon_set

{'fedora', 'kali', 'osx', 'parrot'}

# Dictionnaire

In [5]:
#mon dictionnaire
mon_dict = {}
mon_dict["obj1"]= 'Paris'# assigner un val dans un dict

mon_dict.keys()#clefs
mon_dict.values()#valeur
mon_dict.get('obj4',"objet_introuvable")#mettre une valeur par default si la clef n'existe pas

#naviguer dans un dict
mon_dict["obj2"]= {"clef_1":{"clef_2":{"clef_3":"val"}}}
mon_dict["obj2"]["clef_1"]["clef_2"]["clef_3"]

'val'

# fonction

In [6]:
#ma fonction
def ma_fonction():
    #instruction que contient ma fonction
    pass
        
ma_fonction()

# classe

In [ ]:
#ma classe 
class ma_class():
     
    def __init__(self):
        self.nom = input('nom')
        self.club = input('club préferé')
        self.age = input('age')
    
    def speak(self):
        print("slt je suis {}".format(self.nom))
        print("mon club preferee est le {}".format(self.nom))
        print("j'ai {} ans".format(self.age))

x = ma_class()
x.speak()

nomhello

# Liste de comprehension

In [ ]:
#liste de comprehension
liste = [1,2,3,4,5]
x = [x*2 for x in liste]
print(x)

# liste generatrice

In [ ]:
liste = [1,2,3,4,5]
x = (x*2 for x in liste)
next(x)

# Zip/Format

In [ ]:
liste_departement = ["75","69","06","33"]
liste_ville = ["paris","lyon","nice","bordeaux"]

for ville,departement in zip(liste_ville,liste_departement):
    print(f"la ville de {ville} se trouve dans le {departement}")# le f avant la string pour format

# dict de comprehension

In [ ]:
keys = ["keys1","keys2","keys3"]
val = ["val1","val2","val3"]
{k: v for k, v in zip(keys,val)}

# Pandas

In [ ]:
#pandas 
import pandas as pd
df = pd.read_csv('../data/data_cancer.csv')
#df.describe()

#df.iloc[:, :-1]#loc une col
#df.iloc[-1:, :]#loc une raw

# BeautifulSoup

In [ ]:
#bs4
import requests
from bs4 import BeautifulSoup
i = 1
url = ['https://www.larousse.fr/dictionnaires/francais/forum/'+str(i) for i in range(5)]
#r = requests.get(url)
#print(r.status_code)
#soup = BeautifulSoup(r.content,"lxml")
def read(url):
    for x in url:
        r1 = requests.get(x)
        print(r1.status_code,"\n"+"-"*116)
        c = r1.content
        soup = BeautifulSoup(c,'lxml')
    return soup
#read(url)

# SELENIUM

In [ ]:
#selenium
from selenium import webdriver

driver = webdriver.Chrome("path/du/chromedriver") #le chromedriver est a telecharger selon votre type de navigateur
driver.set_page_load_timeout(10)
driver.get("https://www.societe.com")
element = driver.find_element_by_id("input_search")
element_butt = driver.find_element_by_id("buttsearch")

element.send_keys("some text")

# NUMPY

In [ ]:
#numpy
np.loadtxt('file.txt') #Load txt file
np.genfromtxt('file.csv',delimiter=',') #Load csv file
np.savetxt('file.txt',arr,delimiter=' ') #save txt file
np.savetxt('file.csv',arr,delimiter=',') #save csv file

#créer Arrays
np.array([1,2,3]) #dictionnaire 1 dimmension
np.array([(1,2,3),(4,5,6)]) #dictionnaire 2 dimmension
np.zeros(3) #dictionnaire 1 dimmension de  3 "0"
np.ones((3,4)) #dictionnaire  dimmension 3*4  de valeur 1
np.eye(5)  #dictionnaire  dimmension 3*4  de valeur 0 et de 1 en diagonnal
np.linspace(0,100,6) #Tableau de 6 valeurs également divisées de 0 à 100
np.arange(0,10,3) #Tableau de valeurs de 0 à 10 avec un step de 3 (par exemple, [0,3,6,9])
np.full((2,3),8) # Tableau 2x3 avec toutes les valeurs 8
np.random.rand(4,5) #Tableau 4x5 de flottant aléatoires entre 0 et 1
np.random.rand(6,7)*100 #Tableau 6x7 de flottant aléatoires entre 0 et 100
np.random.randint(5,size=(2,3)) #Tableau 2x3 avec ints aléatoires entre 0-4

#inspéction des propriété
arr.size #retourne le taille d'un tableau
arr.shape #retourne la dimension d'un tableau
arr.dtype #retourne le type des elements de la liste
arr.astype(dtype) #converti les elements de la liste
arr.tolist() #converti en python liste
np.info(np.eye) #voir la doc de "np.eye"

#Copie/tri/redimensionner les tableau
arr.view(dtype) #Crée une vue des éléments arr avec le type dtype
arr.sort() #trier le tableau
arr.sort(axis=0) #trier le tableau par rapport a l'axis
two_d_arr.flatten() #Aplatit le tableau 2D  en 1D
arr.T #Transposer un tableau (les lignes deviennent des colonnes et inversement)
arr.reshape(3,4) # Remodèle arr à 3 lignes, 4 colonnes sans modifier les données
arr.resize((5,6)) #Change la forme d'arr en 5x6 et remplit les nouvelles valeurs avec 0

#ajouter/effacé des elements
np.append(arr,values) #Ajoute des valeurs à la fin de l'arr
np.insert(arr,2,values) #Insère les valeurs dans arr avant l'index 2
np.delete(arr,3,axis=0) #Supprime la ligne sur l'index 3 de l'arr
np.delete(arr,4,axis=1) #Supprime la colonne sur l'index 4 de l'arr

#combine/decoupe
np.concatenate((arr1,arr2),axis=0) #Ajoute arr2 en tant que lignes à la fin de arr1
np.concatenate((arr1,arr2),axis=1) #Ajoute arr2 comme colonne à la fin de arr1
np.split(arr,3) #Divise arr dans 3 sous-tableaux
np.hsplit(arr,5) #Séparer les arrêts horizontalement au 5ème index

#Indexation / découpage / sous-réglage

arr[5] #Retourne l'élément à l'index 5
arr[2,5] #Retourne l'élément de tableau 2D sur l'index [2] [5]
arr[1]=4 #Assigne l'élément de tableau sur l'index 1 la valeur 4
arr[1,3]=10 # Assigne un élément de tableau sur l'index [1] [3] à la valeur 10
arr[0:3] #Renvoie les éléments aux indices 0,1,2 (Sur un tableau 2D: renvoie les lignes 0,1,2)
arr[0:3,4] #Renvoie les éléments des lignes 0,1,2 de la colonne 4
arr[:2] #Renvoie les éléments aux indices 0,1 (Sur un tableau 2D: renvoie les lignes 0,1)
arr[:,1] #Renvoie les éléments à l'index 1 sur toutes les lignes.
arr<5 #Retourne un tableau avec des valeurs booléennes
(arr1<3) & (arr2>5) # Retourne un tableau avec des valeurs booléennes
~arr #Inverse un tableau booléen
arr[arr<5] #Retourne des éléments de tableau inférieurs à 5

#Mathématiques scalaires
np.add(arr,1) #Ajouter 1 à chaque élément du tableau
np.subtract(arr,2) #Soustrayez 2 de chaque élément du tableau
np.multiply(arr,3) #Multipliez chaque élément du tableau par 3
np.divide(arr,4) #Divise chaque élément du tableau par 4 (retourne np.nan pour la division par zéro)
np.power(arr,5) #Élevez chaque élément du tableau à la 5ème puissance

#Vector Math
np.add(arr1,arr2) #Élémentaire, ajoutez arr2 à arr1
np.subtract(arr1,arr2) #Soustraction élémentaire arr2 de arr1
np.multiply(arr1,arr2) #Élément par élément multiplier arr1 par arr2
np.divide(arr1,arr2) #Elémentairement diviser arr1 par arr2
np.power(arr1,arr2) #Élément par élément, augmentez arr1, élevé à la puissance de arr2
np.array_equal(arr1,arr2) #Renvoie True si les tableaux ont les mêmes éléments et la même forme.
np.sqrt(arr) #Racine carrée de chaque élément du tableau
np.sin(arr) #Sinus de chaque élément du tableau
np.log(arr) #logarithme de chaque élément du tableau
np.abs(arr) #Valeur absolue de chaque élément du tableau
np.ceil(arr) #Arrondit audessus
np.floor(arr) #Arrondit en dessous
np.round(arr) #Arrondit au plus proche du int

Statistics
np.mean(arr,axis=0) #Retourne la moyenne le long d'un axe spécifique
arr.sum() #Retourne la somme du tableau
arr.min() #Retourne le min du tableau
arr.max(axis=0) #Renvoie la valeur maximale d'un axe spécifique
np.var(arr) #Retourne la variance du tableau
np.std(arr,axis=1) #Renvoie l'écart type d'un axe spécifique
arr.corrcoef() #Retourne le coefficient de corrélation du tableau

# Pandas

In [ ]:

pd.read_csv(nom du fichier) #à partir d'un fichier CSV
pd.read_table(nomfichier) #À partir d'un texte délimité
pd.read_excel(nom du fichier)#à partir d'un fichier Excel
pd.read_sql(query, objet_connexion)#Lit à partir d'une table / base de données SQL
pd.read_json(json_string) # Lit à partir d'un JSON

#chaîne, URL ou fichier formaté.
pd.read_html(url) #Analyse une URL html, une chaîne ou fichier et extrait des tables dans une liste de cadres de données
pd.read_clipboard() # Prend le contenu de votre presse-papiers et le passe à read_table()
pd.DataFrame(dict) # À partir d'un dict, clef pour noms de colonnes, valeurs de données sous forme de listes

#DONNÉES D'EXPORTATION
df.to_csv(nom du fichier) #Écrit dans un fichier CSV
df.to_excel(nom du fichier) # Écrit dans un fichier Excel
df.to_sql(nom_table, objet_connexion) #Écrit dans une table SQL
df.to_json(nomfichier) # Écrit dans un fichier au format JSON
df.to_html(filename) # Enregistre sous forme de tableau HTML
df.to_clipboard() # Ecrit dans le presse-papier

#CRÉER DES OBJETS DE TEST 
pd.DataFrame(np.random.rand (20,5)) # 5 colonnes et 20 rangées de flotteurs aléatoires
pd.Series(my_list) # Crée une série à partir d'un iterable my_list
df.index = pd.date_range ('1900/1/30',périodes = df.shape [0]) # Ajoute un index de date

#VISUALISATION / INSPECTION DE DONNÉES
df.head(n) # n premières lignes du DataFrame
df.tail(n) # n dernières lignes du DataFrame
df.shape() # Nombre de lignes et de colonnes
df.info() # Index, type de données et mémoire information
df.describe() # Statistiques sommaires pour numérique des colonnes
s.value_counts(dropna = False) # Vues uniques valeurs et comptes
df.apply (pd.Series.value_counts) # Unique valeurs et comptes pour toutes les colonnes

#SÉLECTION
df [col] # Retourne la colonne avec l'étiquette col en tant que série
df [[col1, col2]] # Retourne les colonnes en tant que nouvelle Trame de données
s.iloc [0] # Sélection par position
s.loc [0] # Sélection par index
df.iloc [0 ,:] # Première rangée
df.iloc [0,0] # Premier élément de la première colonne

#NETTOYAGE DES DONNÉES
df.columns = ['a', 'b', 'c'] # Renomme des colonnes
pd.isnull() # Vérifie les valeurs null, le retours est un Tableau de booléen
pd.notnull() # Inverse de s.isnull ()
df.dropna() # Supprime toutes les lignes contenant des valeurs nulls
df.dropna(axe = 1) # Supprime toutes les colonnes qui contenir des valeurs nulles
df.dropna(axe = 1, thresh = n) # Supprime toutes les lignes ont moins de n valeurs non nulles
df.fillna(x) # Remplace toutes les valeurs nulles par x
s.fillna(s.mean()) # Remplace toutes les valeurs NULL parla moyenne (la moyenne peut être remplacée par presque toute fonction de la section statistiques)
s.astype (float) # Convertit le type de données d'une série en flottants
s.replace (1, 'un') # Remplace toutes les valeurs égales à 1 avec 'un'
à la place ([1,3], ['un', 'trois']) # remplace tous 1 avec 'un' et 3 avec 'trois'
df.rename (colonnes = lambda x: x + 1) # Masse renommer des colonnes
df.rename (columns = {'old_name': 'new_name '}) # Renommage sélectif
df.set_index ('column_one') # Change l'index
df.rename (index = lambda x: x + 1) # Masse renommer l'index

#FILTRE, TRIER ET GROUPER
df [df [col]> 0.5] # trié où se trouve la colonne est supérieur à 0,5
df [(df [col]> 0,5) & (df [col] <0,7)] #trié où 0.7> col> 0.5
df.sort_values(col1) # Trie les valeurs par col1 dans ordre croissant
df.sort_values(col2, croissant = False) # Trie valeurs par col2 en ordre décroissant
df.sort_values([col1, col2],ascending = [True, False])# Trie les valeurs par col1 en ordre croissant puis col2 en descendant ordre
df.groupby (col) #Retourne un objet groupby pour valeurs d'une colonne
df.groupby ([col1, col2]) # Retourne un groupby valeurs d'objet de plusieurs colonnes
df.groupby (col1) [col2] .mean () # Retourne le moyenne des valeurs en col2, regroupées par le valeurs en col1 (la moyenne peut être remplacée parpresque n'importe quelle fonction de la section statistiques)
df.pivot_table (index = col1, valeurs =[col2, col3], aggfunc = mean) # Crée un pivot table qui regroupe par col1 et calcule la moyenne de col2 et col3
df.groupby (col1) .agg (np.mean) # Trouve la moyenne sur toutes les colonnes pour chaque unique colonne 1 groupe
df.apply (np.mean) # Applique une fonction sur chaque colonne
df.apply (np.max, axis = 1) # Applique une fonction à chaque rangée
benin = df['y']>0 # creer un mask
df[benin]#appliquer un mask

#JOIN / COMBINE
df1.append (df2) # Ajoute les lignes de df1 au fin de df2 (les colonnes doivent être identiques)
pd.concat ([df1, df2], axis = 1) # Ajoute le colonnes de df1 à la fin de df2 (les lignes doivent être identique)
df1.join (df2, on = col1, how = 'inner') # style SQL joint les colonnes de df1 avec les colonnes sur df2 où les lignes pour col ont identiques valeurs. comment peut être un de 'gauche', 'droite',"extérieur", "intérieur"

#STATISTIQUES
#Celles-ci peuvent toutes être appliquées à une série.
df.describe () # Statistiques sommaires pour numérique des colonnes
df.mean () # Retourne la moyenne de toutes les colonnes
df.corr () # Retourne la corrélation entre colonnes dans un DataFrame
df.count () # Retourne le nombre de non-null valeurs dans chaque colonne DataFrame
df.max() # Retourne la plus haute valeur dans chaque colonne
df.min () # Retourne la valeur la plus basse de chaque colonne
df.median () # Retourne la médiane de chaque colonne
df.std () # Retourne l’écart type de chaque colonne

### fun

In [ ]:
import time
import sys
def animated(msg):
    for char in msg:
        time.sleep(0.1)
        sys.stdout.write(char)
        sys.stdout.flush()

In [ ]:
animated("capskilllllllllla")